.post {
  display: flex;
  flex-direction: column;
  width: 90%;
  position: relative;
  margin-bottom: 80px;
}

form {
	position: relative;
	padding-bottom: 60px;

	.btn {
  width: 100px;
  height: 40px;
  background-color: #009999;
  color: white;
  text-align: center;
  position: absolute;
  right: 0;

  &:hover {
	  transform: scale(1.1);
  }
}
}


