.wrap {
  text-align: center;
  padding: 0px 10px;
  margin-top: 50px;

  .title {
    color: #fff;
    line-height: 40px;
    margin-bottom: 20px;
    background: #a4dada;
    border-radius: 20px;
  }

  .user {
    overflow: hidden;

    img {
      border-radius: 50%;
      width: 100%;
    }

    p {
      margin-top: 5px;
      color: #fff;
    }
  }

  .users {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 7px;
  }
}
