header {
  display: flex;
  background-color: #009999;
  padding-top: 5px;
  height: 50px;
  padding: 5px 5px;
  text-align: right;
  justify-content: space-between;
  align-items: center;

  & img {
    max-height: 100%;
    filter: invert(100%);

    &:hover {
      @media only screen and (max-width: 900px) {
        filter: invert(70%);
        cursor: pointer;
      }
    }
  }

  .loginBlock {
    cursor: pointer;
	 text-align: center;
  }

  .button {
	  margin-top: 0;
    background: none;
	 width: 100%;
	 font-size: 1rem;
	 font-weight: 500;
	 &:hover {
		 background: rgba(42, 53, 53, 0.5);
	 }
  }
}
