@mixin mq($from) {
  @media (max-width: $from) {
    @content;
  }
}

body {
  background: #f2f2f2;
}
.app-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 900px;
  margin: 0 auto;
  align-items: stretch;

  .bottomNavBar {
    display: none;
    position: fixed;
    //  height: 70px;
    width: 100%;
    background: #009999;
    left: 0;
    bottom: 0;
    padding-right: 10px;
    padding-left: 10px;
    z-index: 2;

    .bottomNavBar__iconSettings {
      display: none;
      height: 50px;
      filter: invert(100%);

      @include mq('600px') {
        display: inline-block;
      }
    }

    .bottomNavBar__iconBurger {
      height: 50px;
      float: right;
      filter: invert(100%);
    }

    @include mq('900px') {
      display: block;
    }
  }
}

.container {
  display: flex;
  margin-top: 10px;

  .sidebar {
    width: 200px;
    background: #009999;
    transition: 1s;

    @include mq('900px') {
      position: absolute;
      transform: translateX(-300px);
      z-index: 1;
      height: 100%;
    }
  }

  .openSidebar {
    @include mq('900px') {
      transform: translateX(0px);
      transition: 1s;
      width: 300px;
    }

    @include mq('400px') {
      width: 100%;
    }
  }

  .content {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 70px;
	 width: 100%;

    img {
      max-width: 100%;
    }
  }
}

h2 {
  font-weight: bold;
  font-size: 1.6rem;
}

textarea {
  margin: 0 auto;
  font-size: 1.2rem;
  width: 100%;
  max-width: 90%;
  height: 100px;
  border: 1px solid #009999;
  margin-top: 10px;
  background: rgb(226, 226, 226);

  &::placeholder {
    padding: 5px 0px 0px 10px;
    color: grey;
  }
}

button {
  background-color: grey;
  margin-top: 10px;
  align-self: flex-end;
  right: 100px;
  bottom: 10px;
  width: 90px;
  height: 30px;
  text-align-last: right;
//   padding-right: 20px;
  color: #fff;
}

.preloader {
  position: fixed; /* Sit on top of the page content */
  display: flex; /* Hidden by default */
  width: 100vw; /* Full width (cover the whole page) */
  height: 100vh; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  justify-content: center;
  align-items: center;

  img {
    width: 20%;
  }
}

.circlePreloader {
	height: 30px;
	overflow: hidden;
	position: relative;

	img {
		position: absolute;
		left: 0;
		top: -100%;
	}
}
